*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #1099bb;
    position: relative;
  }

  #wrapper {
    margin: 100px auto;
    background: #1099bb;
    width: 800px;
  }
  #wrapper > canvas {
    margin: 0 auto;
  }

  .results {
    margin: 10px;
  }
  .results span {
    font-size: 40px;
    font-family: fantasy;
    color: #deac21;
  }
  .history-wrapper {
    margin-top: 10px;
  }
  .history-wrapper ul{
    margin-bottom: 8px;
  }
  .history-wrapper ul li {
    color: black;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
  }
  .history-wrapper ul li:nth-child(4n){
    border-bottom: 1px solid;
  }
  .spin-win {
    margin: 10px;
    width: 200px;
  }

  .spin-win-txt{
    font-size: 26px;
    font-family: fantasy;
    color: #deac21;
    display: block;
    text-align: center;
  }

  .spin-win .hide{
    display: none;
  }

  .current-prize {
    text-align: center;
    font-size: 26px;
    font-family: fantasy;
    color: #deac21;
    position: absolute;
    top: 10px;
  }