*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #1099bb;
  }

  #wrapper {
    margin: 100px auto;
    background: #1099bb;
    width: 800px;
  }
  #wrapper > canvas {
    margin: 0 auto;
  }

  .results {
    margin: 10px;
  }
  .results span {
    font-size: 40px;
    font-family: fantasy;
    color: #deac21;
  }